
@{
    ViewBag.Title = "changepassword";
    string stat = ViewBag.stat;
}

<h2>changepassword</h2>


<script>
    $('#npassconfirm').change(function () {
        if ($('#npass').attr('value') != $('#npassconfirm').attr('value')) {
            $("lab").text="Please Confirm Password !!!"
return false;
} else { return true; }
});
</script>
