
@{
    ViewBag.Title = "AdminLogin";
}
<form method="post" action="/Admin/Login">
    Username : <input type="text" name="username" />
    <br />
    PassWord : <input type="password" name="pass" />
    <br />
    <button type="submit">Submit</button>
    
</form>

<h2>AdminLogin</h2>

